
@font-face {
    font-family: Hanken Grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body{
    margin: 0;
    font-family: 'Hanken Grotesk',sans-serif;   
}

.container{
    background: white;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 1%,hsl(241, 81%, 54%)100%);
    color: hsl(241, 100%, 89%);
    border-radius:  0 0 30px 30px;
}
.result-head{
    padding: 15px 0 0 0;
}
.result-score{
    /* border: solid; */
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:linear-gradient(hsla(256, 72%, 46%, 1)10%,hsla(241, 72%, 46%, 0));
}
.result-score h1{
    margin: 0px 0 0 0;
    font-weight: 800;
    font-size:40px;
    color: white;
}
#sep{
    margin: 0;
    font-size:13px;
    font-weight: 600;
    opacity: 70%;
}
.result h3{
    margin:20px 0 8px 0 ;
    color: white;
}
.result p{
    margin: 0 0 20px 0;
    /* font-size: .9em; */
}
.text-result{
    text-align: center;
    width: 280px;
}

.summary{
    padding: 0px 30px;
    
}
.summary-tabs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.summary-score{
    border:none;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.05em;
}

#reaction{
    background: rgba(255, 87, 87,.05);
    /* opacity: 52%; */
}
.reaction-icon-text{
    color:hsl(0, 100%, 67%);
}
.reaction-icon-text img{
    padding-right: 13px;    
    height: 25px;
}

#memory{
    background: rgba(255, 176, 31,.05);
}
.memory-icon-text{
    color:hsl(39, 100%, 56%);
}
.memory-icon-text img{
    padding-right: 13px;   
    height: 25px; 
}
#verbal{
    background: rgba(0, 189, 145,.05);
    /* opacity: 52%; */
}
.verbal-icon-text{
    color:hsl(166, 100%, 37%);
}
.verbal-icon-text img{
    padding-right: 13px;   
    height: 25px; 
}
#visual{
    background: rgba(17, 37, 212,.05);
}
.visual-icon-text{
    color:hsl(234, 85%, 45%);
}
.visual-icon-text img{
    padding-right: 13px;   
    height: 25px;
}
.reaction-icon-text ,.memory-icon-text,.verbal-icon-text,.visual-icon-text{
    padding-left: 10px;
    opacity: 100%;
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.reaction-score ,.memory-score,.verbal-score,.visual-score{
    padding-right: 10px;
}
.light-score{
    opacity: 50%;
}

.continue{
    height: 55px;
    border: none;
    border-radius: 50px;
    background: hsl(224, 30%, 27%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Hanken Grotesk',sans-serif; 
    margin-bottom: 20px;
}

@media screen and (min-width:600px) {
    
    .container{
        /* background-color: red; */
        display: flex;
        justify-content: center;
        transform: translateY(160px);
        /* align-items: center; */
    }
    .result{
        border-radius: 30px;
        width: 280px;
        height: 400px;
        justify-content: start;
    }
    .result-head{
        padding-top:20px ;
        font-size: 18px;
        font-weight: 700;
        
    }
    .result-score{
        height: 150px;
        width: 150px;
    }
    .text-result{
        width: 220px;
        text-align: center;
    }
    .summary-score{
        width: 250px;
    }
    .summary{
        border-radius: 0px 30px 30px 0px;
        box-shadow: -0px -10px white,10px 10px 30px rgba(0, 0, 0, .1);
    }
    .continue{
        height: 53px;
    }
    .continue:hover{
        background: linear-gradient(180deg, hsl(252, 100%, 67%) 1%,hsl(241, 81%, 54%)100%);
    }
}